
.bubbles1{
    position:absolute;
    width:100%;
    height: 100vh;
    z-index:0;

    top:0;
    bottom: 0;
    left:0;

}
.bubble1{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#0a53be;
    border-radius:50%;
    opacity:0.5;
    box-shadow:0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation: rise 10s infinite ease-in;
    box-shadow:0 0 0 10px red,
    0 0 50px #e41cf8,
    0 0 100px #ff2d75;
    animation: rise 10s infinite ease-in;
}
.bubble1:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    background:pink;
    animation-duration:8s;
}
.bubble1:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
}
.bubble1:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
}
.bubble1:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
}
.bubble1:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
}
.bubble1:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
}
.bubble1:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
}
.bubble1:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
}
.bubble1:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
}
.bubble1:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
}
@keyframes rise{

    100%{
        top:1080px;
        transform:translateX(200px) scale(1);
    }
    0%{
        top:-10px;
        transform:translateX(0) scale(0);
    }
    50%{
        transform:translate(100px) ;
    }
}