/*
--------------------------------------------SECTION 01--------------------------------------*/
                /*-------------------Menu bar--------------*/
header{
    box-shadow: 4px 1px 4px 0px black;
    background-color: #58f346;
    border: 1px solid #58f346;
    position: relative;
    position: fixed;
    width: 98vw;
    height: 37px;
    top: 0;
    z-index:1;
}

                /*-------------------Menu bar item--------------*/
.topnav{
    position: absolute;
    right: 20px;
    top: 16px;
    font-family: Koulen, Rockwell;
    /*border: 1px solid #6aef5b;*/
    margin: -12px;
    color: white;
}

#top_name_portfolio{
    position: absolute;
    top: -10px;
    left: 0;
    color: white;
    font-family: Koulen, Rockwell;
    font-size: 20px;

}

                /*-------------------Menu bar item colour--------------*/
a{
    color: white;
}


                /*-------------------Main picture--------------*/

#image{
    position: absolute;
    top: 0px;
    left: 731px;
    margin: auto;
    width: 500px;
}

                /*-------------------Main about me--------------*/
#about_me_first{
    font-family:"fantasy";
    position: absolute;
    right: 80px;
    bottom: 10px;
    color: white;
    font-size: 30px;
}



                /*-------------------My vision small--------------*/
#about_me_two{
    position: absolute;
    top: 120px;
    bottom: 0;
    right: 0;
    left: 17px;
    margin: auto;
    font-size: 50px;
    color: #58f346;
}

#first>span
{
    position: absolute;
    top: 190px;
    left: 9px;
    font-size: 50px;
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #0e0e0e 0%,
            #58f346 29%,
            #f80606 67%,
            #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s reverse infinite;
    display: inline-block;
    font-size: 70px;
    font-family:"fantasy";

}

@keyframes textclip {
    to {
        background-position: 300% center;
    }
}


                /*-------------------Main icons--------------*/
.golinks{

    position: absolute;
    bottom: 0;
    top: 514px;
    height: 52px;
    width: 500px;
    display: flex;
    gap: 20px;

    /*grid-template-rows: repeat(1,1fr);

    grid-template-columns:repeat(6,1fr);

    column-gap: 4px;*/
}

img:hover{
    transform: scale(1.08);
}

#first>h1{
    position: absolute;
    top: 0;

}

body {
    position: relative;
    width: 100vw;
    margin: 0;
}

body > main{
    position: relative;
    width: 100%;
    top: 40px;
}

                /*-------------------Main video bar--------------*/
.video{
    position: absolute;
    bottom:0px;
    top: 0;
    margin: 0;
    background: #fd3836;
    height: 100vh;
    width: 25vw;
    right: 25px;
}

                /*-------------------First section--------------*/
#first{
    position: relative;
    width: 98vw;
    height: 85vh;
    border: 2px solid black;
}

/*--------------------------------------bubelssssssssss--------------------------------*/
#one{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testOne;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;

}

#two{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testTwo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;

}

#three{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testThree;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;

}

#four{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testFour;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;

}

#five{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testFive;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;
}

#six{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testSix;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;
}

#seven{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testSeven;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;
}

#eihth{
    width: 98vw;
    height: 85vh;
    background: red;
    position: absolute;
    left: 0;
    animation:testEigth;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    animation-direction: alternate;
}

@keyframes testOne {
    0% {
        width: 30px;
        height: 30px;
        background: red;
        top: 30px;
        left: 60px;
    }
    25% {
        width: 30px;
        height: 30px;
        background: green;
        border-radius: 100%;
        left: 300px;
        top: 60px;
    }

    50% {
        width: 50px;
        height: 50px;
        background: blue;
        border-radius: 100%;
        top: 30px;
        left: 300px;
    }

    60% {
        width: 50px;
        height: 50px;
        background: blue;
        border-radius: 100%;
        top: 30px;
        left: 800px;
    }
    75% {
        width: 50px;
        height: 50px;
        background: deeppink;
        border-radius: 100%;
        top: 400px;
        left: 50px;
    }
    100% {
        width: 30px;
        height: 30px;
        background: cyan;
        border-radius: 100%;
        top: 400px;
        left: 900px;
    }
}

@keyframes testTwo{
    0%{
        width: 30px;
        height: 30px;
        background: green;
        top: 300px;
        left: 60px;
    }
    25%{
        width: 50px;
        height: 50px;
        background: gold;
        border-radius: 100%;
        left: 300px;
        top: 600px;
    }

    50%{
        width: 30px;
        height: 30px;
        background: darkmagenta;
        border-radius: 100%;
        top: 450px;
        left: 200px;
    }

    60%{
        width: 50px;
        height: 50px;
        background: pink;
        border-radius: 100%;
        top: 150px;
        left: 870px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: yellow;
        border-radius: 100%;
        top: 800px;
        left: 550px;
    }
    100% {
        width: 50px;
        height: 50px;
        background: orange;
        border-radius: 100%;
        top: 470px;
        left: 500px;
    }
}

@keyframes testThree{
    0%{
        width: 50px;
        height: 50px;
        background: red;
        top: 300px;
        left: 600px;
    }
    25%{
        width: 50px;
        height: 50px;
        background: yellow;
        border-radius: 100%;
        left: 450px;
        top: 100px;
    }

    50%{
        width: 50px;
        height: 50px;
        background: coral;
        border-radius: 100%;
        top: 400px;
        left: 230px;
    }

    60%{
        width: 50px;
        height: 50px;
        background: navy;
        border-radius: 100%;
        top: 650px;
        left: 200px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: magenta;
        border-radius: 100%;
        top: 450px;
        left: 390px;
    }
    100% {
        width: 50px;
        height: 50px;
        background: chocolate;
        border-radius: 100%;
        top: 40px;
        left: 50px;
    }
}

@keyframes testFour{
    0%{
        width: 50px;
        height: 50px;
        background: green;
        top: 300px;
        left: 50px;
    }
    25%{
        width: 50px;
        height: 50px;
        background: pink;
        border-radius: 100%;
        left: 450px;
        top: 390px;
    }

    50%{
        width: 50px;
        height: 50px;
        background: yellow;
        border-radius: 100%;
        top: 40px;
        left: 230px;
    }

    60%{
        width: 50px;
        height: 50px;
        background: sienna;
        border-radius: 100%;
        top: 650px;
        left: 200px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: rebeccapurple;
        border-radius: 100%;
        top: 450px;
        left: 4px;
    }
    100% {
        width: 50px;
        height: 50px;
        background: chocolate;
        border-radius: 100%;
        top: 480px;
        left: 50px;
    }
}

@keyframes testFive{
    0%{
        width: 50px;
        height: 50px;
        background: deeppink;
        top: 380px;
        left: 510px;
    }
    25%{
        width: 50px;
        height: 50px;
        background: yellow;
        border-radius: 100%;
        left: 60px;
        top: 390px;
    }

    50%{
        width: 60px;
        height: 60px;
        background: greenyellow;
        border-radius: 100%;
        top: 40px;
        left: 230px;
    }

    60%{
        width: 50px;
        height: 50px;
        background: darkgoldenrod;
        border-radius: 100%;
        top: 650px;
        left: 4px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: black;
        border-radius: 100%;
        top: 450px;
        left: 400px;
    }
    100% {
        width: 50px;
        height: 50px;
        background: chocolate;
        border-radius: 100%;
        top: 440px;
        left: 50px;
    }
}

@keyframes testSix{
    0%{
        width: 90px;
        height: 90px;
        background: deeppink;
        top: 390px;
        left: 450px;
    }
    25%{
        width: 50px;
        height: 50px;
        background: yellow;
        border-radius: 100%;
        left: 60px;
        top: 390px;
    }

    50%{
        width: 40px;
        height: 40px;
        background: greenyellow;
        border-radius: 100%;
        top: 430px;
        left: 230px;
    }

    60%{
        width: 10px;
        height: 10px;
        background: darkgoldenrod;
        border-radius: 100%;
        top: 650px;
        left: 490px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: green;
        border-radius: 100%;
        top: 20px;
        left: 400px;
    }
    100% {
        width: 60px;
        height: 60px;
        background: chocolate;
        border-radius: 100%;
        top: 440px;
        left: 500px;
    }
}

@keyframes testSeven{
    0%{
        width: 90px;
        height: 90px;
        background: darkred;
        top: 100px;
        left: 450px;
    }
    25%{
        width: 20px;
        height: 20px;
        background: yellow;
        border-radius: 100%;
        left: 600px;
        top: 390px;
    }

    50%{
        width: 40px;
        height: 40px;
        background: greenyellow;
        border-radius: 100%;
        top: 80px;
        left: 230px;
    }

    60%{
        width: 10px;
        height: 10px;
        background: darkgoldenrod;
        border-radius: 100%;
        top: 60px;
        left: 560px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: black;
        border-radius: 100%;
        top: 200px;
        left:600px;
    }
    100% {
        width: 60px;
        height: 60px;
        background: chocolate;
        border-radius: 100%;
        top: 540px;
        left: 900px;
    }
}

@keyframes testEigth{
    0%{
        width: 90px;
        height: 90px;
        background: darkred;
        top: 640px;
        left: 200px;
    }
    25%{
        width: 20px;
        height: 20px;
        background: yellow;
        border-radius: 100%;
        left: 460px;
        top: 308px;
    }

    50%{
        width: 40px;
        height: 40px;
        background: greenyellow;
        border-radius: 100%;
        top: 20px;
        left: 230px;
    }

    60%{
        width: 10px;
        height: 10px;
        background: darkgoldenrod;
        border-radius: 100%;
        top: 60px;
        left: 890px;
    }
    75%{
        width: 50px;
        height: 50px;
        background: black;
        border-radius: 100%;
        top: 280px;
        left:40px;
    }
    100% {
        width: 60px;
        height: 60px;
        background: chocolate;
        border-radius: 100%;
        top: 329px;
        left: 982px;
    }
}


/*--------------------------------------------SECTION 02--------------------------------------*/

                        /*-------------------second section--------------*/
#second{
    position:relative;
    width: 98vw;
    height: 388vh;
    /*border: 2px solid black;*/
}

                        /*-------------------2 first bars--------------*/
#row1{
    position: absolute;
    height: 450px;
    width: 20px;
    background-color: #58f346;
    top: 100px;
    left: 50px;

}

#row2{
    position: absolute;
    height: 280px;
    width: 20px;
    background-color: #58f346;
    top: 600px;
    left: 250px;

}


                            /*-------------------about me title--------------*/
#title_about_me{

    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
}

                                /*-------------------about me title h2--------------*/
#title_about_me>h2{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;
}

                                /*-------------------logos-------------*/
#about_image{
    position: absolute;
    top: 90px;
    left: 90px;
}

                                /*-------------------basic information--------------*/
.Information{
    position: absolute;
    right: 0px;
    top: 270px;
    left: 700px;
    font-family: Koulen, Rockwell;
    font-size: 28px;
}
.Information{
    animation-name: rightToLeft;
    animation-timing-function: linear;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

                        /*-------------------my image--------------*/
.aboutMyImage{
    position: absolute;
    left: 268px;
    top: 200px;
}

                            /*-------------------vision information--------------*/
.AboutMe{
    position: absolute;
    left: 300px;
    top: 600px;
    font-family: Koulen, Rockwell;
    font-size: 25px;
}

                            /*-------------------my education--------------*/
.education{
    position: absolute;
    top: 1200px;
}

                            /*-------------------download button--------------*/
#DownloadButton{
    right: 0;
    left: 0;
    margin: auto;
    top: 1712px;
}

#DownloadButton {
    align-items: center;
    background-color: #58f346;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 200px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#DownloadButton:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

#DownloadButton:hover:after {
    transform: translate(0, 0);
}

#DownloadButton:active {
    background-color: blue;
    outline: 0;
}

#DownloadButton:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #DownloadButton {
        padding: 0 40px;
    }
}

                            /*-------------------my skills--------------*/
.Skills{
    position: absolute;
    bottom: 380px;
}


                            /*-------------------my galary--------------*/
/*.Galary{
    position: absolute;
    bottom: 0;
}*/

                            /*-------------------education title bar--------------*/
#education_title{
    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: -229px;
}


                            /*-------------------education title h2--------------*/
#education_title>h2{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;
}

                            /*-------------------education description--------------*/
.education{
    position: absolute;
    font-family: Koulen, Rockwell;
}



                            /*-------------------education hat--------------*/
.education>div>img{
    position: absolute;
    right: 200px;


}

                        /*-------------------education years--------------*/
#ol_year{
    position: absolute;
    width: 150px;
    height: 30px;
    border-radius: 5%;
    background-color: #58f346;
    top: -27px;

}

#al_year{
    position: absolute;
    width: 150px;
    height: 30px;
    border-radius: 5%;
    background-color: #58f346;
    top: -27px;
}

#ijse_year{
    position: absolute;
    width: 150px;
    height: 30px;
    border-radius: 5%;
    background-color: #58f346;
    top: -27px;
}

#degree_year{
    position: absolute;
    width: 150px;
    height: 30px;
    border-radius: 5%;
    background-color: #6aef5b;
    top: -27px;
}

                        /*-------------------education sets--------------*/
#ol{
    position: absolute;
    left: 300px;
    top: -100px;
    font-size: 30px;

}

#al{
    position: absolute;
    left: 850px;
    top: -100px;
    font-size: 30px;
}

#ijse{
    position: absolute;
    left: 300px;
    top: 250px;
    font-size: 30px;
}

#degree{
    position: absolute;
    left: 850px;
    top: 250px;
    font-size: 30px;
}


                            /*-------------------education hats--------------*/
#ol_hat{
    position: absolute;
    top: -91px;
    right: 200px;
}

#al_hat{
    position: absolute;
    top:-91px;
    right: 200px;
}

#ijse_hat{
    position: absolute;
    top: -91px;
    right: 200px;
}

#degreee_hat{
    position: absolute;
    top: -91px;
    right: 200px;
}

                            /*-------------------education bars--------------*/

#ol_bar{
    position: absolute;
    width: 14px;
    height: 200px;
    top: 0;
    left: -93px;
    background-color: #58f346;
}

#al_bar{
    position: absolute;
    width: 14px;
    height: 200px;
    top: 0;
    left: -93px;
    background-color: #58f346;
}

#ijse_bar{
    position: absolute;
    width: 14px;
    height: 200px;
    top: 0;
    left: -80px;
    background-color: #58f346;
}

#degree_bar{
    position: absolute;
    width: 14px;
    height: 200px;
    top: 0;
    left: -80px;
    background-color: #58f346;
}

                            /*-------------------Skills title bar--------------*/

.Skills{
    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: 1794px;
}

.Skills>h2{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;
}



                    /*-------------------Skills details--------------*/

/*-------------------Languages--------------*/
#language_title{
    position: absolute;
    left: 300px;
    right: 300px;
    top: 60px;
    text-align: center;
    color: black;
    font-family: Koulen, Rockwell;

}

#lan_impl{
    position: absolute;
    top: 164px;
    right: 420px;
    display: flex;
    gap: 30px;
}

#lan_impl>img:hover{
    transform: scale(1.20) ;
}

/*-------------------Tools--------------*/

#tool_title{
    position: absolute;
    left: 300px;
    right: 300px;
    top: 2078px;
    text-align: center;
    color: black;
    font-family: Koulen, Rockwell;

}

#tool_impl{
    position: absolute;
    top: 2159px;
    right: 420px;
    display: flex;
    gap: 30px;
}

#tool_impl>img:hover{
    transform: scale(1.20) ;
}

                            /*-------------------Photo title bar--------------*/
#Photo_title{
    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: -231px;
}

#title_content{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;
}

.Galary{
    position: absolute;
    top: 2499px;
}

#photo{
    position: relative;
    bottom: 140px;
    left: 150px;
}

#photo>img:hover{
    transform: scale(1.08);
}

/*--------------------------------------------SECTION 03--------------------------------------*/
#third {
    position: relative;
    width: 98vw;
    height: 63vh;

    /*border: 2px solid black;*/
}

#Projects_title{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: 0;
}
/*-------------------Project Title--------------*/
#Projects{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;
}

/*-------------------Project Images--------------*/
#projets_content{
    position: absolute;
    top: 100px;
    right: 350px;
    display: flex;
    gap: 30px;
}

#projets_content>img:hover{
    transform: scale(1.08);
}

#git_hub{
    position: absolute;
    top: 369px;
    left: 646px;
}

#git_link{
    position: absolute;
    top: 315px;
    left: 569px;
    color: blue;
}


#git_link>a>p{
    color: #001eff;
}

/*--------------------------------------------SECTION 04--------------------------------------*/
#fourth{
    position: relative;
    width: 98vw;
    height: 65vh;
    /*border: 2px solid black;*/
}

#assignment_title{
    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: 0;
}

#Assignments{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;;
}

#assignment_content{
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;

   /* position: absolute;*/
    top: 100px;
    right: 450px;
    /*display: flex;
    gap: 30px;*/
}

#assignment_content>img{
    position: absolute;
}

#assignment_content>img:hover{
    transform: scale(1.08);
}

#git_hub_a{
    position: absolute;
    top: 369px;
    left: 646px;
}

#git_link_a{
    position: absolute;
    top: 315px;
    left: 569px;
    color: blue;
}


#git_link_a>a>p{
    color: #001eff;
}

/*--------------------------------------------SECTION 06--------------------------------------*/
#sixth{
    position: relative;
    width: 98vw;
    height: 67vh;
}

#achevment_title{
    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: 0;
}

#Achievement{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 650px;
}

#achewment_content{
    position: absolute;
    top: 100px;
    right: 240px;
    display: flex;
    gap: 30px;
}

#achewment_content>img:hover{
    transform: scale(1.08);
}
/*---------------------------------------------Footer-----------------------------------------*/
#footer{
    position: relative;
    width: 98vw;
    height: 100vh;
    margin-top: 40px;

}

#contact_title{
    position: absolute;
    width: 98vw;
    height: 30px;
    background-color: #58f346;
    box-shadow: 4px 1px 4px 0px black;
    top: 0;
}

#Contact{
    position: absolute;
    margin: 0;
    color: white;
    font-family:Koulen, Rockwell ;
    left: 660px;
}

#golinks_botom{
    position: absolute;
    top: 60px;

}

#golinks_botom>a{
    color: black;
    font-family:Koulen, Rockwell;
    font-size: 25px;
}

#icon_botom{
    position: absolute;
    top: 350px;
    left: 30px;
    display: flex;
    gap: 20px;
}

#icon_botom>a>img:hover{
    transform: scale(1.20);
}

#form_content{
    position: absolute;
    top: 450px;
    left: 30px;
}

#connet_pic{
    position: absolute;
    left: 539px;
    bottom: 30px;
}
