/*------------------------------1440------------------------------*/

@media all and (max-width: 1440px) {


    .second {
        height: 349vh;
    }

    #ijse_png{
        left: 367px;
    }

    #ijse{
        left: 612px;
    }

    #mainImg {
        width: 647px;
        height: 638px;
        top: 30px;
    }

    .name_span {
        font-size: 80px;
    }

    .name_two_span {
        font-size: 49px;
    }

    .soft {
        top: 240px;
        font-size: 80px;
    }

    #hire_me{
        width: 15vw;
    }

    #title_about_me{
        left: 45%;
    }

    #row1 {
        top: 176px;
        left: 731px;
        height: 352px;
    }

    .Information {
        left: 801px;
        font-size: 28px;
        top: 181px;
    }

    #mahinda_college {
        font-size: 26px;
        left: 30px;
        top: 1032px;
    }

    #mahinda_college>span {
        font-size: 30px;
    }

    #school_img {
        height: 128px;
        width: 203px;
        top: 1001px;
        left: 420px;
    }

    #row1 {
        top: 146px;
        left: 731px;
        height: 432px;
    }

    #row2{
        top: 582px;
        left: 111px;
    }

    #row3 {
        position: absolute;
        height: 300px;
        width: 20px;
        top: 1000px;
        left: 674px;
    }

    #AboutMe {
        font-size: 25px;
        top: 623px;
    }

    .aboutMyImage {
        width: 449px;
        height: 439px;
        left: 166px;
        top: 153px;
    }

    #ijse_png {
        position: absolute;
        height: 100px;
        width: 163px;
        top: 1171px;
        left: 750px;
    }

    #ijse {
        font-size: 22px;
        left: 940px;
        top: 1175px;
    }

    #ijse>span {
        font-size: 30px;
    }

    #DownloadButton {
        left: 65px;
    }

    #tools {
        right: 185px;
        gap: 140px;
    }

    #language {
        right: 191px;
        gap: 137px;
    }

    #simbol_mark {
        left: 660px;
    }

    .title_projects{
        left: 46%;
    }

    .Project_Flex figcaption{
        font-size: 20px;
    }

    .Project_Flex{
        top: 25vh;
        width: 94vw;
        left: 0;
    }

    .Project_Flex>figure{
        height: 50vh;
    }

    .third{
        height: 96vh
    }

    .fourth{
        height: 100vh;
    }

    .title_assignment{
        left: 43%;
    }

    .Assignment_Flex figcaption{
        font-size: 20px;
    }

    .Assignment_Flex {
        top: 25vh;
        width: 106vw;
        left: 0;
    }

    .Assignment_Flex>figure{
        height: 50vh;
    }

    .btn_assignment {
        font-size: 25px;
        width: 167px;
        height: 76px;
        top: 491px;
    }


    #contact_details>div>a>span{
        font-size: 20px;
    }

    #contact_details>div>span{
        font-size: 20px;
    }

    #DownloadButton {
        left: 12px;
    }

    .language-title{
        left: 42%;
    }

    .skill-title {
        left: 45%;
    }


    #certificates {
        height: 354px;
        left: 205px;
    }

    .title_achievements {
        left: 43%;
    }

    #contact_details>div>a>span {
        font-size: 30px;
    }

    #contact_details>div>span {
        font-size: 30px;
    }

    .footer {
        height: 98vh;
    }

    #form_content {
        width: 462px;
        right: 56px;
    }

    #contact_details {
        left: 33px;
    }

    #contact_details div img{
        height: 50px;
        width: 50px;
    }

    .Assignment_Flex {
        top: 25vh;
        width: 98vw;
        left: 0;
    }

    .btn_assignment{
        top: 453px;
    }

    .gallery {
        top: 293vh;
    }

    .second {
        height: 367vh;
    }
}

/*-------------------------------1024---------------------------*/

@media all and (max-width: 1024px){


    .second{
        height: 454vh;
    }
    #ijse_png{
        left: 367px;
    }

    #ijse{
        left: 612px;
    }

    #mainImg{
        width: 400px;
        height: 400px;
        top: 62px;
    }

    .name_span{
        font-size: 60px;
    }

    #AboutMe{
        font-size: 20px;
        top: 628px;
    }

    .soft{
        top: 141px;
    }

    .name_two_span{
        font-size: 40px;
    }

    #hire_me{
        width: 15vw;
        bottom: 27px;
    }

    #row1{
        top: 140px;
        left: 581px;
        height: 334px;
    }

    .aboutMyImage {
        left: 110px;
        height: 409px;
    }

    .Information{
        left: 652px;
        font-size: 20px;
    }

    #mahinda_college{
        font-size: 15px;
    }

    #mahinda_college>span{
        font-size: 35px;
    }

    #school_img{
        left: 292px;
    }

    #row3{
        left: 524px;
    }

    #ijse_png{
        left: 573px;
        height: 131px;
        width: 193px;
    }

    #ijse{
        font-size: 15px;
        left: 787px;
        top: 1175px;
    }

    #ijse>span{
        font-size: 35px;
    }

    #DownloadButton{
        left: 29px;
    }

    #tools {
        right: 96px;
    }

    #simbol_mark{
        left: 518px;
    }

    #language {
        right: 120px;
    }

    .gallery{
        top: 370vh;
    }

    .Project_Flex{
        width: 91vw;
        top: 25vh;
    }

    .Project_Flex>figure{
        height: 50vh;
    }

    .third{
        height: 92vh;
    }

    .Assignment_Flex{
        top: 25vh;
        width: 91vw;
    }

    .Assignment_Flex figure{
        height: 52vh;
    }

    .Assignment_Flex figure figcaption {
        width: 17vw;
    }

    .title_achievements {
        left: 35%;
    }

    .btn_assignment{
        top: 331px;
    }

    .fourth{
        height: 101vh;
    }

    .third {
        height: 100vh;
    }

    .fifth{
        height: 86vh;
    }

    #contact_details>div>a>span{
        font-size: 20px;
    }

    #contact_details>div>span{
        font-size: 20px;
    }

    .title_footer{
        left: 43%;
    }

    .footer {
        height: 122vh;
    }

    #certificates {
        height: 250px;
        left: 133px;
    }

    #form_content{
        right: 111px;
    }

    #contact_details div img{
        height: 50px;
        width: 50px;
    }

    #tools {
        right: 96px;
        gap: 97px;
    }

    #language {
        right: 120px;
        gap: 89px;
    }

    .Project_Flex figure figcaption {
        font-size: 16px;
    }

    .Assignment_Flex figure figcaption {
        width: 17vw;
        font-size: 16px;
    }

    .btn_assignment {
        top: 350px;
        height: 50px;
    }

    #form_content {
        right: 66px;
        width: 340px;
    }
}

/*-------------------------------768---------------------------*/

@media all and (max-width: 768px){
    .top_name {
        padding: 0;
        font-size: 13px;
    }

    .menu > li {
        margin-left: 38px;
    }

    .name_span {
        font-size: 30px;
    }

    .name_two_span {
        font-size: 28px;
    }

    #hire_me {
        bottom: 29px;
    }

    .aboutMyImage {
        left: 59px;
        top: 131px;
        height: 405px;
        width: 313px
    }

    #row1 {
        left: 400px;
        top: 185px;
    }

    .Information {
        left: 444px;
        font-size: 17px;
        top: 240px;
    }

    #AboutMe {
        font-size: 16px;
        left: 140px;
    }

    #mahinda_college {
        font-size: 15px;
        left: 27px;
    }

    #mahinda_college > span {
        font-size: 25px;
    }

    #school_img {
        height: 86px;
        left: 237px;
        width: 143px;
        top: 1010px;
    }

    #row3 {
        left: 394px;
    }

    #ijse_png {
        height: 86px;
        width: 143px;
        top: 1167px;
        left: 439px;
    }

    #ijse {
        font-size: 15px;
        top: 1180px;
        left: 593px;
    }

    #tools {
        right: 57px;
    }

    .third {
        height: 100vh;
    }

    #simbol_mark {
        left: 396px;
    }

    #language {
        right: 59px;
    }

    .title_assignment {
        left: 32%;
    }

    .title_achievements {
        left: 30%;
    }

    #ijse > span {
        font-size: 25px;
    }

    #certificates {
        height: 181px;
        left: 66px;
    }

    #contact_details > div > a > span {
        font-size: 15px;
    }

    #contact_details > div > span {
        font-size: 15px;
    }

    #contact_details {
        position: absolute;
        top: 160px;
        left: 29px;
    }

    .title_assignment {
        left: 33%;
    }

    .title_projects {
        left: 38%;
    }

    .menu > li {
        margin-left: 26px;
    }

    #form_content {
        right: 37px;
    }

    #certificates {
        height: 212px;
    }

    .Project_Flex >figure{
        height: 53vh;
    }

    .Assignment_Flex {
        top: 25vh;
        width: 96vw;
        left: 25px;
    }

    .Assignment_Flex >figure{
        height: 53vh;
    }

    .title_footer{
        left: 40%;
    }

    .btn_assignment{
        top: 335px;
    }

    #contact_details div img{
        height: 50px;
        width: 50px;
    }

    .soft {
        top: 172px;
        font-size: 50px;
    }

    #tools {
        right: 57px;
        gap: 60px;
    }

    #language {
        right: 59px;
        gap: 59px;
    }

    .Project_Flex >figure {
        height: 57vh;
    }

    .Project_Flex {
        width: 91vw;
        top: 34vh;
    }

    .Assignment_Flex figure figcaption {
        width: 22vw;
        font-size: 16px;
    }

    .Project_Flex figure figcaption {
        font-size: 15px;
    }

    .btn_assignment {
        top: 350px;
        height: 50px;
    }

    #form_content {
        width: 280px;
        left: 444px;
    }

    #mainImg {
        width: 400px;
        height: 400px;
        top: 48px;
    }

    #hire_me {
        bottom: 40px;
    }

    .first {
        height: 92vh;
    }

    .third {
        height: 111vh;
    }
}

/*-------------------------------425---------------------------*/

@media all and (max-width: 425px) {
    .soft {
        font-size: 20px;
        left: 13px;
    }

    .name_two_span {
        font-size: 18px;
    }

    .title_achievements {
        left: 10%;
    }

    #certificates {
        left: 52px;
    }

    #certificates>img:nth-child(1){
        top: 0;
        left: 43px;
        position: absolute;
        width: 242px;
        height: 184px;
    }

    #certificates>img:nth-child(2){
        top: 216px;
        left: 43px;;
        right: 60px;
        position: absolute;
        width: 242px;
        height: 184px;
    }

    .fifth {
        height: 112vh;

    }

    #tools {
        right: 6px;
        gap: 19px;
    }

    #simbol_mark {
        left: 211px;
    }

    .skill-title{
        left: 37%;
    }

    .language-title{
        left: 25%;
    }

    .Information {
        left: 185px;
    }

    #mainImg {
        width: 204px;
        height: 196px;
        top: 62px;
    }

    .name_span {
        font-size: 20px;
    }

    .first {
        height: 59vh;
    }

    #hire_me {
        width: 26vw;
        height: 35px;
        left: 43px;
    }

    #title_about_me{
        left: 35%;
        font-size: 30px;
    }

    .aboutMyImage {
        left: 59px;
        top: 131px;
        width: 298px;
        height: 290px;
    }

    .Information {
        font-size: 15px;
        left: 49px;
        top: 450px;
    }

    #row1 {
        left: 15px;
        top: 419px;
        width: 12px;
        height: 243px;
    }

    #AboutMe {
        font-size: 13px;
        left: 104px;
        top: 670px;
    }

    #row2 {
        width: 11px;
        height: 201px;
        top: 660px;
        left: 78px;
    }

    #education_title{
        left: 35%;
        font-size: 30px;
    }

    #row3{
        width: 0;
    }

    #ijse{
        left: 203px;
    }

    #Skills{
        left: 43%;
        font-size: 30px;
    }


    #tools{
        flex-direction: column;
        right: 174px;
        top: 1508px;
    }

    .second {
        height: 570vh;
    }

    .gallery {
        top: 489vh;
    }

    .gallery-title {
        font-size: 35px;
        left: 35%;
        top: 2586px;
    }

    .language-title {
        left: 35%;
        top: 2058px;
        font-size: 30px;
    }

    .title_bar_photo{
        top: 2558px;
    }

    #language {
        flex-direction: column;
        right: 174px;
        top: 2130px;
        gap: 8px;

    }

    #simbol_mark{
        top: 1976px;
    }

    .third {
        height: 242vh;
    }

    .Project_Flex{
        flex-direction: column;
    }

    .Project_Flex {
        width: 71vw;
        height: 201vh;
        top: 21vh;
    }

    .Project_Flex figure {
        height: 58vh;
        width: 73vw;
    }

    .Project_Flex figure div {
        width: 64vw;
    }


    .Project_Flex figure figcaption{
        top: 44vh;
        width: 61vw;
    }

    .title_projects {
        font-size: 40px;
        left: 32%;
        top: 35px;
    }

    .fourth{
        height: 233vh;

    }

    .title_assignment{
        font-size: 35px;
        left: 25%;
    }

    .Assignment_Flex{
        flex-direction: column;
    }

    .Assignment_Flex {
        width: 71vw;
        height: 201vh;
        top: 21vh;
    }

    .Assignment_Flex figure {
        height: 58vh;
        width: 73vw;

    }

    .Assignment_Flex figure div {
        width: 64vw;

    }


    .Assignment_Flex figure figcaption{
        top: 44vh;
        width: 61vw;
    }

    .title_achievements{
        font-size: 35px;
        left: 20%;
    }

    .title_footer{
        font-size: 40px;
        left: 35%;
    }

    #form_content {
        right: 84px;
        top: 491px;
    }

    .footer{
        height: 196vh;
    }

    #ijse_png{
        left: 36px;
    }

    #DownloadButton{
        left: 1px;
    }

    .btn_assignment{
        top: 1095px;
    }

    #contact_details div img{
        height: 50px;
        width: 50px;
    }

    .btn_assignment {
        top: 1095px;
        height: 50px;
    }

    .soft{
        top: 135px;
    }

    #form_content {
        left: 79px;
        top: 491px;
        width: 267px;
    }

}

/*-------------------------------375---------------------------*/

@media all and (max-width: 375px){

    .soft {
        font-size: 20px;
        left: 13px;
    }

    .name_two_span {
        font-size: 15px;
    }

    .title_achievements {
        left: 10%;
    }

    #certificates {
        left: 52px;
    }

    #certificates>img:nth-child(1){
        top: 0;
        left: 43px;
        position: absolute;
        width: 242px;
        height: 184px;
    }

    #certificates>img:nth-child(2){
        top: 216px;
        left: 43px;;
        right: 60px;
        position: absolute;
        width: 242px;
        height: 184px;
    }

    .fifth {
        height: 112vh;

    }

    #tools {
        right: 6px;
        gap: 11px;
    }

    #simbol_mark {
        left: 211px;
    }

    .skill-title{
        left: 37%;
    }

    .language-title{
        left: 25%;
    }

    #language{
        right: 6px;
        gap: 7px;
    }

    .Information {
        left: 185px;
    }

    #mainImg {
        width: 204px;
        height: 196px;
        top: 62px;
    }

    .name_span {
        font-size: 20px;
    }

    .first {
        height: 59vh;
    }

    #hire_me {
        width: 26vw;
        height: 35px;
        left: 43px;
    }

    #title_about_me{
        left: 35%;
        font-size: 30px;
    }

    .aboutMyImage {
        left: 35px;
        top: 131px;
        width: 298px;
        height: 290px;
    }

    .Information {
        font-size: 15px;
        left: 49px;
        top: 450px;
    }

    #row1 {
        left: 15px;
        top: 419px;
        width: 12px;
        height: 243px;
    }

    #AboutMe {
        font-size: 13px;
        left: 45px;
        top: 677px;
    }

    #row2 {
        width: 11px;
        height: 201px;
        top: 668px;
        left: 15px;
    }

    #education_title{
        left: 35%;
        font-size: 30px;
    }

    #row3{
        width: 0;
    }

    #ijse{
        left: 203px;
    }

    #Skills{
        left: 40%;
        font-size: 30px;
    }


    #tools{
        flex-direction: column;
        right: 155px;
        top: 1508px;
    }

    .second {
        height: 570vh;
    }

    .gallery-title {
        font-size: 35px;
        left: 35%;
        top: 2586px;
    }

    .language-title {
        left: 32%;
        top: 2058px;
        font-size: 30px;
    }

    .title_bar_photo{
        top: 2558px;
    }

    #language {
        flex-direction: column;
        right: 158px;
        top: 2130px;
    }

    #simbol_mark{
        left: 168px;
    }

    .third {
        height: 235vh;
    }

    .Project_Flex{
        flex-direction: column;
    }

    .Project_Flex {
        width: 71vw;
        height: 201vh;
        top: 21vh;
    }

    .Project_Flex figure {
        height: 58vh;
        width: 78vw;

    }

    .Project_Flex figure div {
        width: 65vw;

    }


    .Project_Flex figure figcaption{
        top: 44vh;
        width: 61vw;
    }

    .title_projects {
        font-size: 40px;
        left: 32%;
        top: 35px;
    }

    .fourth{
        height: 233vh;

    }

    .title_assignment{
        font-size: 35px;
        left: 25%;
    }

    .Assignment_Flex{
        flex-direction: column;
    }

    .Assignment_Flex {
        width: 71vw;
        height: 201vh;
        top: 21vh;
    }

    .Assignment_Flex figure {
        height: 58vh;
        width: 78vw;

    }

    .Assignment_Flex figure div {
        width: 65vw;

    }


    .Assignment_Flex figure figcaption{
        top: 44vh;
        width: 61vw;
    }

    .title_achievements{
        font-size: 35px;
        left: 20%;
    }

    .title_footer{
        font-size: 40px;
        left: 35%;
    }

    #form_content {
        right: 53px;
        top: 491px;
    }

    .footer{
        height: 196vh;
    }

    #mahinda_college {
        font-size: 12px;
        left: 27px;
    }

    #school_img {
        height: 86px;
        left: 204px;
        width: 143px;
        top: 1010px;
    }

    #certificates{
        left: 20px;
    }

    #contact_details > div > a > span {
        font-size: 13px;
    }

    #contact_details > div:nth-child(5) > span {
        font-size: 12px;
    }

    #contact_details {
        left: 14px;
    }

    #DownloadButton{
        left: 5px;
    }

    .btn_assignment{
        top: 1096px;
    }

    #contact_details div img{
        height: 50px;
        width: 50px;

    }

    .btn_assignment {
        top: 1570px;
    }

    .fifth {
        height: 82vh;
    }

    .second {
        height: 431vh;
    }

    .first {
        height: 54vh;
    }

    .second {
        height: 566vh;
    }

    .gallery {
        top: 488vh;
    }

    .Project_Flex figure figcaption {
        top: 44vh;
        width: 69vw;
    }

    .btn_assignment {
        top: 1086px;
        height: 50px;
    }

    .fifth {
        height: 113vh;
    }

    .footer {
        height: 188vh;
    }

    .soft {
        font-size: 20px;
        left: 13px;
        top: 123px;
    }

    #form_content {
        right: 2px;
        top: 478px;
        width: 303px;
        left: 25px;
    }
}

/*-------------------------------320---------------------------*/

@media all and (max-width: 320px){

    .name_span {
        font-size: 15px;
    }

    .soft {
        top: 102px;
        font-size: 30px;
        left: 8px;
    }

    .top_name {
        padding: -12px;
        color: #f1f1f1;
        font-size: 13px;
        font-weight: bold;
    }

    #certificates {
        left: -6px;
        top: 125px;
        height: 118px;
    }

    .first {
        height: 54vh;
    }

    #title_about_me{
        font-size: 30px;
        left: 30%;
    }

    #mainImg {
        width: 204px;
        height: 196px;
        top: 57px;
    }

    .Information {
        font-size: 15px;
        left: 49px;
        top: 450px;
    }

    #row1 {
        left: 15px;
        top: 419px;
        width: 12px;
        height: 243px;
    }

    #row2 {
        width: 11px;
        height: 201px;
        top: 668px;
        left: 15px;
    }

    #row3{
        left: 156px;
        width:0;
    }

    .name_two_span {
        font-size: 12px;
    }

    #hire_me {
        width: 35vw;
        height: 35px;
        left: 43px;
        top: 227px;
    }

    .aboutMyImage {
        left: 31px;
        top: 131px;
        width: 249px;
        height: 268px;
    }

    #AboutMe {
        font-size: 13px;
        left: 45px;
        top: 677px;
    }

    .title_bar_edu{
        top: 897px;
    }

    #education_title {
        left: 29%;
        top: 918px;
    }

    #mahinda_college {
        top: 989px;
        font-size: 11px;
        left: 12px;
    }

    #mahinda_college>span {
        font-size: 25px;
    }

    #school_img {
        height: 76px;
        left: 187px;
        width: 116px;
        top: 977px;
    }

    #ijse_png {
        height: 86px;
        width: 143px;
        top: 1127px;
        left: 12px;
    }

    #education_title {
        left: 29%;
        top: 918px;
        font-size: 30px;
    }
    #ijse {
        font-size: 13px;
        top: 1145px;
        left: 169px;
    }

    #DownloadButton{
        top: 1256px;
    }

    .title_bar_skills{
        top: 1357px;
    }

    .skill-title {
        left: 40%;
        font-size: 30px;
        top: 1400px;
    }

    .language-title {
        left: 27%;
        top: 2075px;
        font-size: 35px;
    }

    #tools {
        right: 120px;
        top: 1465px;
        gap: 39px;
        flex-direction: column;
    }

    #simbol_mark {
        left: 144px;
        top: 2035px;
    }

    #language {
        right: 122px;
        top: 2149px;
        gap: 30px;
        flex-direction: column;
    }

    .second {
        height: 597vh;
    }

    .third {
        height: 241vh;
    }


    .Project_Flex {
        width: 71vw;
        height: 201vh;
        top: 19vh;
        flex-direction: column;
    }

    .Project_Flex figure {
        width: 79vw;
    }

    .Project_Flex figure div {
        width: 72vw;
    }

    .Project_Flex figure figcaption{
        width: 71vw;
    }

    .Assignment_Flex {
        width: 71vw;
        height: 201vh;
        top: 21vh;

    }

    .gallery-title {
        left: 30%;
        top: 2737px;
        font-size: 35px;
    }

    .title_bar_photo {
        top: 2697px;
    }

    .title_assignment {
        font-size: 35px;
        left: 16%;
    }

    .title_projects {
        font-size: 40px;
        left: 27%;
        top: 18px;
    }

    .title_achievements {
        font-size: 35px;
        left: 10%;
    }

    .title_footer {
        font-size: 40px;
        left: 26%;
    }

    #contact_details > div:nth-child(5) > span {
        font-size: 10px;
    }

    #contact_details > div > a > span {
        font-size: 11px;
    }

    #contact_details {
        left: 14px;
    }


    .fifth {
        height: 110vh;
    }

    .fourth {
        height: 239vh;
    }

    #contact_details img{
        height: 50px;
        width: 50px;
    }

    .gallery {
        top: 515vh;
    }

    .second {
        height: 598vh;
    }

    #form_content {
        right: 22px;
        top: 488px;
        width: 265px;
    }

    .first {
        height: 52vh;
    }

    .Assignment_Flex {
        width: 28vw;
        height: 201vh;
        top: 21vh;
        left: 0;
    }

    .btn_assignment {
        top: 1112px;
        width: 158px;
        left: -33px;
    }
}


