/*-----------Header styles---------*/

header{
    position: fixed;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px;
    background-color: #000000;
    color: #14192B;
    top: 0;
    /*position: relative;*/
    z-index: 999;

}


/*----------------header nav-------------*/
header > nav {
    padding-right: 10px;
}

/*----------------header manu-------------*/
header menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*----------------manu li------------*/
header menu li {
    font-size: 20px;
    margin-left: 40px;
}

/*----------------manu href-------------*/
header menu li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

.hoverText {
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

/* hover state */
.hoverText:hover {
    font-weight: bold;
    transform: scale(1.2);
}

/* Underline Text */
.menu-btn {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

/*----------------animation-------------*/
.menu-btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #fe0202;
    transition: width 0.3s ease-in-out;
}

.menu-btn:hover::after {
    width: 100%;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.top_name{
    padding: 20px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
}

header span{
    color: #ff0000;
;
}

/*-------------Section first----------*/

.first{
    position: relative;
    height: 98vh;
    background-color: #282626;
    border: 5px  solid white;

}

#mainImg{
    position: absolute;
    height: 90vh;
    top: 40px;
    right: 0;
}

.soft{
    color: white;
    position: absolute;
    top: 200px;
    font-size: 60px;
    left: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.name_two_span{
    font-family: DialogInput;
    font-size: 40px;

}
.name_span{
    font-size:70px ;
    color: #FB313E;
}


#about_me{
    position: absolute;
    top: 220px;
    left: 60px;
    font-size: 70px;
    color: white;
}

@keyframes textclip {
    to {
        background-position: 300% center;
    }
}


/*--------------Hire Me Button-------------*/
#hire_me{
    position: absolute;
    bottom: 70px;
    left: 90px;
    width: 8vw;
    height: 5px;
    color: red;
    font-family: Koulen, Rockwelll;
    font-size: 20px;
    border-radius: 5%;
    border-color: #ffffff;
    background-color: #ffffff;
    height: 50px;
    box-shadow: white;
}


/*-----------Second session---------*/

.second{
    position: relative;
    height: 382vh;
    background-color: #282626;
    border: 5px  solid white;
    /*border: 2px solid black;*/

}

.aboutMyImage{
    position: absolute;
    width: 300px;
    height: 400px;
    left: 190px;
    top: 153px;
}

#title_about_me{
    position: absolute;
    top: 51px;
    left: 40%;
    right: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    margin: auto;
    color: white;
}

#title_about_me span{
    color: red;
}

#school_img{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 1001px;
    left: 350px;
}

#ijse_png{
    position: absolute;
    height: 150px;
    width: 200px;
    top: 1150px;
    left: 800px;
}

.Information{
    position: absolute;
    right: 0;
    top:205px;
    left: 725px;
    font-size:20px;
    font-family: Koulen, Rockwell;
    color: white;

}

/*-----------------bars---------------*/
#row1{
    position: absolute;
    height: 391px;
    width: 20px;
    background-color: #ff0000;
    top: 140px;
    left: 685px;

}

#row2{
    position: absolute;
    height: 280px;
    width: 20px;
    background-color: red;
    top: 550px;
    left: 100px;

}

#AboutMe{
    position: absolute;
    right: 0;
    left: 170px;
    top: 600px;
    font-size:20px;
    font-family: Koulen, Rockwell;
    color: white;

}

#education_title{
    position: absolute;
    top: 900px;
    left: 40%;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    margin: auto;
    color: white;
}

#education_title span{
    color: red;
}



#mahinda_college{
    position: absolute;
    font-size: 20px;
    top:1030px ;
    left: 50px;
    color: white;

}

#mahinda_college span{
    font-size: 40px;

}

#ijse{
    position: absolute;
    font-size: 20px;
    top: 1175px;
    left: 1020px;
    color: white;
}

#ijse span{
    font-size: 40px;
}

#row3{
    position: absolute;
    height: 300px;
    width: 20px;
    background-color: #ff0000;
    top: 1000px;
    left: 650px;

}

#DownloadButton{
    right: 0;
    left: 0;
    margin: auto;
    top: 1340px;
}

#DownloadButton {
    align-items: center;
    background-color: red;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 200px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#DownloadButton:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

#DownloadButton:hover:after {
    transform: translate(0, 0);
}

#DownloadButton:active {
    background-color: blue;
    outline: 0;
}

#DownloadButton:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #DownloadButton {
        padding: 0 40px;
    }
}

.skill-title{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 45%;
    top: 1450px;
    color: white;
}

.skill-title span{
    color: red;
}

.title_bar_about{
    position: absolute;
    height: 4px;
    width:100%;
    top: 0px;
    background: linear-gradient(to right, red 51%, black 50%);
}

.title_bar_edu{
    position: absolute;
    height: 4px;
    width:100%;
    top: 874px;
    background: linear-gradient(to right, red 51%, black 50%);
}

.title_bar_skills{
    position: absolute;
    height: 4px;
    width: 100%;
    top: 1428px;
    background: linear-gradient(to right, red 51%, black 50%);
}


#tools{
    position: absolute;
    top: 1542px;
    right: 400px;
    display: flex;
    gap: 60px;
}

#tools>img:hover{
    transform: scale(1.30)
}

.language-title{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 42%;
    top: 1680px;
    color: white;
}

.language-title span{
    color: red;
}

#language{
    position: absolute;
    top: 1783px;
    right: 400px;
    display: flex;
    gap: 60px;
}

#language>img:hover{
    transform: scale(1.30)
}

#simbol_mark{
    position: absolute;
    top: 1630px;
    bottom: 0;
    left: 650px;
    right: 0;
    margin: auto;
    font-size: 40px;
    font-family: "Koulen, Rockwell";
    color: white;
}

.title_bar_photo{
    position: absolute;
    height: 4px;
    width: 100%;
    top: 1893px;
    background: linear-gradient(to right, red 51%, black 50%);
}

.gallery-title{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 42%;
    top: 1925px;
    color: white;
}

.gallery-title span{
    color: red;
}

.gallery{
    width: 75vw;
    height: 70vh;
    position: absolute;
    top: 292vh;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px;
}

.gallery div:nth-child(1){
    grid-column: 2/5;
    grid-row: 1/10;
    background-image: url("../img/I in gall fort 2.jpeg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(2){
    grid-column: 5/15;
    grid-row: 1/10;
    background-image: url("../img/i with my friends.png");
    background-size: cover;
    background-position: bottom;

}
.gallery div:nth-child(3){
    grid-column: 15/21;
    grid-row: 2/6;
    background-image: url("../img/I in my school.jpeg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(4){
    grid-column: 1/8;
    grid-row: 10/17;
    background-image: url("../img/I while work.jpeg");
    background-size: cover;
    background-position: bottom;
}
.gallery div:nth-child(5){
    grid-column: 8/15;
    grid-row: 10/16;
    background-image: url("../img/I in Galle fort.jpeg");
    background-size: cover;
    background-position: center;
}
.gallery div:nth-child(6){
    grid-column: 15/20;
    grid-row: 6/17;
    background-image: url("../img/I with car.jpeg");
    background-size: cover;
    background-position: center;
}
.gallery div{
    box-shadow: 1px 2px 4px 0px #ffffff;
    border-radius: 6px;
}
.gallery div:hover{
    transform: scale(1.08);
    box-shadow: 0 0 20px #ffffff; ;
}
/*-----------Third session---------*/

.third{
    position: relative;
    height: 83vh;
    /*border: 2px solid black;*/
    background-color: #2f2e2e;
    border: 5px  solid white;

}

.title_projects{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 42%;
    top:18px;
    color: white;
}

.title_projects span{
    color: red;
}

.Project_Flex figure figcaption{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width:23vw;
    top: 38vh;
    height: max-content;
    text-align: center;
    color: white;
    font-family: Koulen, Rockwell;

}
.Project_Flex figure div{
    position: absolute;
    left: 0;
    right: 0;
    top: 2vh;
    margin: auto;
    width: 23vw;
    height: 35vh;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #14192B;
}

.Project_Flex figure{
    position: relative;
    width: 25vw;
    height: 45vh;
    background-color: #2a2929;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #ffffff;
}

.Project_Flex{
    left: 0;
    right: 0;
    top: 19vh;
    margin: auto;
    position: absolute;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.Project_Flex figure:hover{
    transform: scale(1.20);
}

#Hotel{
    background-image: url("../img/Hotel Project.PNG");
    background-size:  cover;
    background-position: bottom;
}

#Library{
    background-image: url("../img/Library management System.PNG");
    background-size:  cover;
    background-position: bottom;
}

#game{
    background-image: url("../img/Battle Field Game.PNG");
    background-size:  cover;
    background-position: bottom;
}

/*-----------Fourth session---------*/

.fourth{
    position: relative;
    height: 85vh;
    background-color: #282626;
    border: 5px  solid white;
}

.title_assignment{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 42%;
    top:20px;
    color: white;
}

.title_assignment span{
    color: red;
}

.Assignment_Flex figure figcaption{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width:23vw;
    top: 38vh;
    height: max-content;
    text-align: center;
    color: white;
    font-family: Koulen, Rockwell;

}
.Assignment_Flex figure div{
    position: absolute;
    left: 0;
    right: 0;
    top: 2vh;
    margin: auto;
    width: 23vw;
    height: 35vh;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px #14192B;
}

.Assignment_Flex figure{
    position: relative;
    width: 25vw;
    height: 45vh;
    background-color: #2a2929;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0px white;
}

.Assignment_Flex{
    left: 0;
    right: 0;
    top: 19vh;
    margin: auto;
    position: absolute;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.Assignment_Flex figure:hover{
    transform: scale(1.20);
}

#ass_one{
    background-image: url("../img/01.PNG");
    background-size:  cover;
    background-position: bottom;
}

#ass_two{
    background-image: url("../img/03.PNG");
    background-size:  cover;
    background-position: bottom;
}

#ass_three{
    background-image: url("../img/05.PNG");
    background-size:  cover;
    background-position: bottom;
}

/*-----------Fifth session---------*/

.fifth{
    position: relative;
    height: 80vh;
    background-color:#2f2e2e ;
    border: 5px  solid white;
}

.title_achievements{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 40%;
    top:20px;
    color: white;
}

.title_achievements span{
    color: red;
}

#certificates{
    position: absolute;
    top: 150px;
    left: 200px;
    display: flex;
    gap: 30px;
    height: 200px;
    width: 300px;

}

#certificates img:hover{
    transform: scale(1.20);
    /*border: 2px solid #ffffff;*/
    border-radius: 5%;
    box-shadow: 0 0 7px white;
}

/*----------------Footer-----------*/

.footer{
    position: relative;
    height: 100vh;
    background-color: #282626;
    border: 5px  solid white;
}

.title_footer{
    position: absolute;
    bottom: 0;
    font-size: 50px;
    font-family: Koulen, Rockwell;
    left: 45%;
    top:20px;
    color: white;
}

.title_footer span{
    color: red;
}

#contact_details{
    position: absolute;
    top: 160px;
    left: 80px;

}
/*.info{
    position: absolute;
    color: black;
    font-size: 20px;
    left: 50px;
    padding: 30px;
}*/
#form_content{
    position: absolute;
    right: 100px;
    top: 150px;
}
#massage{
    position:absolute;
    right: 0;
    height: 500px;
}

.tel{
    position: absolute;
    top: 50px;
    font-size: 40px;
}

#form_content input{
    display: flex;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    background-color: #ffffff;
    color: #44444C;
}

#form_content textarea{
    display: flex;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    background-color: #ffffff;
    color: #44444C;
}



#contact_details span{
    color: white;
    left: 40px;
    padding-left: 50px;
    font-size: 30px;
    font-family:Koulen, Rockwell ;

}

#send{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 7px white;
    width: 80px;
    height: 30px;
    border-radius: 5%;
    border-color: white;
    font-family:Koulen, Rockwell ;

}

