
.calculator{
    width: 370px;
    background: #3b3f48;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 3px #17181c,
    -3px -3px 3px #676e7e;

}

.output{
    font-size: 3.4rem;
    text-align: right;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border: none;
    display: block;
    outline: none;
    background: transparent;
    color: #ffffff;
    box-shadow: inset 3px 3px 3px #17181c,
    inset -3px -3px 3px #676e7e;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3px;
}

.key{
    background: black;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    width: 70px;
    height: 70px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 100px;
}


.key-ent{
    grid-column: 4 /5;
    grid-row: 2 / span 4;
    height: auto;
    border-radius: 30px;
    color: cyan;
    background: black;
}

.key-op{
    background-color:red;
}

.key-op:hover{
    color:black;
}

.key-ent:hover{
    color:black;
}

.key-ent{
    background-color:red;
}

#content{
    font-size:25px;
    font-family:'Ubuntu', sans-serif;
}

#result{
    background-color: #2c2b2b;
}

